/*GENERAL*/
* {
    font-family: "Freeman", sans-serif;
}

title {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}	

p {
    font-size: 1em;
    font-weight: 550;
    text-align: center;
}

#legend {
    font-style: italic;
    color: #707070;
}

#top-section {
    flex: 1;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bottom-section {
    flex: 1;
    padding: 10px;
    overflow: hidden;
    border-top: 1px solid black;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    font-family: "Freeman", sans-serif;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: -0.75rem;
}

legend {
    font-size: 1.5em;
    font-weight: italic;
    color: #3a3a3a;
}

.title_logo {
    width: 50px;
    height: auto;
}

.top-section {
    flex: 1;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.bottom-section {
    flex: 1;
    padding: 10px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 0em;
    font-size: xx-small;
    align-self: right;
    margin-left: auto;
}