/*GENERAL*/
* {
    font-family: "Freeman", sans-serif;
}

title {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}	

p {
    font-size: 1em;
    font-weight: 550;
    color: #707070;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
h1 {
    font-family: "Freeman", sans-serif;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    margin-bottom: -0.75rem;
}

legend {
    font-size: 1.5em;
    font-weight: italic;
    color: #3a3a3a;
}

.title_logo {
    width: 50px;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}