:root {
    --primary-color: #000000;
    --primary-font: 'Freeman', sans-serif;
    --secondary-font: 'Courier New', Courier, monospace;
    --flag-opacity: 0.6;
    --border-width: 2px;
    --text-border-radius: 10px;
    --background-overlay: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

/*GENERAL*/
* {
    font-family: "Freeman", sans-serif;
}

title {
    font-size: 2em;
    font-weight: bold;
    color: #000000;
}	

p {
    font-size: 1em;
    font-weight: 550;
    text-align: center;
}

#legend {
    font-style: italic;
    color: #707070;
}

h1 {
    font-family: "Freeman", sans-serif;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}


#header {
    display: flex;
    align-items: center;
    margin-bottom: -0.75rem;
}

legend {
    font-size: 1.5em;
    font-weight: italic;
    color: #3a3a3a;
}

.title_logo {
    width: 50px;
    height: auto;
}

body {
    min-width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 9px;
    width: 80vw;
    height: 30vh;
    border: var(--border-width) solid rgb(125, 125, 125);
}

#output-and-arrows {
    display: flex;
    flex-direction: row;
}

.flag-indicator {
    width: 75px;
    height: auto;
    opacity: var(--flag-opacity);
    position: absolute;
    bottom: 10px;
    right: 15px;
    border-radius: 3px;
    border-color: solid rgb(75, 75, 75);
}

.flag {
    width: inherit;
    height: auto;
    border-radius: 10px;
}

#top-section {
    flex-direction: column;
    border-bottom: calc(var(--border-width) / 2) solid rgb(125, 125, 125);
    background-image: var(--background-overlay), url("data/flags/en.png");
    border-top-left-radius: var(--text-border-radius);
    border-top-right-radius: var(--text-border-radius);
}

#bottom-section {
    border-top: calc(var(--border-width) / 2) solid rgb(125, 125, 125);
    background-image: var(--background-overlay), url("data/flags/ja.png");
    border-bottom-left-radius: var(--text-border-radius);
    border-bottom-right-radius: var(--text-border-radius);
}

#input {
    width: fit-content;
    text-align: center;
    background-color: transparent;
    text-shadow: #000000 0px 1px 2px;
    transition: width 0.3s ease-in-out;
}

#right-arrow {
    position: absolute;
    right: 5vw;
}

#left-arrow {
    position: absolute;
    left: 5vw;
}

.arrow {
    width: 50px;
    height: auto;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}

#footer {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 0em;
    font-size: xx-small;
    align-self: right;
    margin-left: auto;
}